<style type="text/css">

.header 
{


}

.Paragraph 
{


}

.ul
{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            /* background-color: #DCDCDC; */
}

.li
{
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            float: left;
}

.div 
{


}

.logo 
{
 margin: 10px auto;
 display: block;
}

